html {
  min-height: 100%;
  height: 100%;
  max-width: 100%;
  margin: 0;
  padding: 2ch;
}

body {
  font-family: Source Sans Pro, Helvetica;
  font-weight: 400;
  font-size: 13pt;
  margin: auto;
  max-width: 80ch;
  width: 100%;
  flex-grow: 1;
/*  padding: 4ch; */

}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    color: #3070a0;
}

h1 {
    font-size: 3em;
}

p {
  color: #333333;
  line-height: 1.3em;
}

.author {
  font-size: 2em;
  font-weight: 300;
  color: #4080b0;
}

.date {
  font-size: 2em;
  font-weight: 300;
  color: #4080b0;
}

pre {
    padding: 10px 10px 10px 10px;
    font-size: 10pt;
}

pre.Agda {
    background-color: #EEEEFF;
    overflow: auto;
}

code {
    padding: 1px 2px 1px 2px;
    background-color: #EEEEFF;
    font-size: 10pt;
}

div.sourceCode {
    padding: 10px 10px 10px 10px;
    background-color: #EEEEFF;
    font-size: 10pt;
}

a:link {
  color: #3070a0;
}

a:visited {
  color: #3070a0;
}